---
layout: default
permalink: /
---

 {% include hero.html %}

 {% include about.html %}

 {% include judges.html %}


{% comment %}
 {% include statistic.html %}

 {% include latest-news.html %}

{% include schedule.html %}

 {% include rockstar-speakers.html %}
 {% endcomment %}

{% comment %}

 {% include location-map.html %}

{% endcomment %}
 {% include venue.html %}

{% comment %}
 {% include twitter-feed.html %}
{% endcomment %}


 {% include partners.html %}



 {% include subscribe.html %}


 {% include tickets.html %}

{% comment %}
 {% include tickets-2.html %}
{% endcomment %}
